.main-nav {
    height: 50px;
    margin-bottom: 80px;
    color: #ffffff;
}
.main-nav .nav-item {
    margin: 10px;
}
.main-nav .nav-item.active {
    font-weight: bold;
}
.login-button {
    background-color: #343a40;
}